:root
{
	--background: #121212;
	--lightBackground: #202020;
	
	--navbarBackground: #34314c;
	--navbarForeground: #bb86fc;
	--navbarHoverColor: #b0aec8;
	
	--linkActive: #98c379;
	
	--textColor: #FFFFF0;
	--baseFontSize: 1.256rem;
	
	--hdrOneSize: calc(var(--baseFontSize) * 2.5);
	--hdrTwoSize: calc(var(--baseFontSize) * 2.0);
	--hdrThreeSize: calc(var(--baseFontSize) * 1.5);
	
	--fontShadowSize: calc(var(--baseFontSize) * 0.1);
	--footerSize: calc(var(--baseFontSize) * 4);
	
	--fontFam: monospace, monospace, system-ui;
	--fontFamSS:  monospace, monospace, system-ui, sans-serif;
}

body
{
	height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
	margin-bottom: var(--footerSize);
	background: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link, a:visited 	{ color: var(--textColor); }
a:hover, a:active 	{ color: var(--linkActive); }

p 
{
	margin-left: auto;
	margin-right: auto;
	align-content: center;

	padding: 0 var(--baseFontSize);
	color: var(--textColor);
	font-family: var(--fontFamSS);
	font-size: var(--baseFontSize);
	text-shadow: 0 0 var(--fontShadowSize) black;
	
	font-weight: normal;
	text-align: left;
	line-height: 1.5em;
	
	/*
	NOTE(RYAN_2024-04-30): 	I wanted 80 characters per line but it was going over
							90 characters per line, which was incorrect. I am not
							sure why that is, but I just reduced the max-width
							until the largest line was <= 80 characters.
	*/
	max-width: 64ch;
}
.center 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15%;
	margin-top: calc(var(--baseFontSize) * 1.5);
}

h1 
{
	color: var(--textColor);
	font-family: var(--fontFamSS);
	font-size: var(--hdrOneSize);
	text-shadow: 0 0 calc(var(--fontShadowSize) * 2) black;
	
	text-align: center;	
	line-height: 1.5em;
}
h2 
{
	color: var(--textColor);
	font-family: var(--fontFamSS);
	font-size: var(--hdrTwoSize);
	text-shadow: 0 0 calc(var(--fontShadowSize) * 1.5) black;
	
	text-align: center;
	line-height: 1.5em;
}
h3 
{
	color: var(--textColor);
	font-family: var(--fontFamSS);
	font-size: var(--hdrThreeSize);
	text-shadow: 0 0 calc(var(--fontShadowSize) * 1.25) black;
	
	text-align: center;
	line-height: 1.5em;
}

.socialButton
{
	appearance: none;
	background-color: black;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	
	color: var(--textColor);
	padding: var(--baseFontSize);
	font-family: var(--fontFamSS);
	font-size: var(--baseFontSize);
	margin-right: calc(var(--baseFontSize) * 0.5);
	margin-left: calc(var(--baseFontSize) * 0.5);
	
	margin-top: 0;
	font-weight: bold;
	line-height: normal;
	
	min-height: 60px;
	min-width: var(--baseFontSize);
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform;
}
.socialButton:disabled { pointer-events: none; }
.socialButton:hover 
{ 
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 16px; 
	transform: translateY(calc(var(--baseFontSize) * -0.25)); 
	text-shadow: 0 0 var(--fontShadowSize) black;
}
.socialButton:active 
{ 
	box-shadow: none; 
	transform: translateY(0);
}

footer
{
	left: 0; bottom: 0;
	width: 100%;
	text-align: center;
}

hr 
{
	border: none;
	border-top: 0.25em double var(--textColor);
	color: var(--textColor);
	overflow: visible;
	text-align: center;
	height: var(--baseFontSize);
}
hr::after 
{
  background: var(--background);
  content: '§';
  padding: 0 var(--fontShadowSize);
  position: relative;
  top: -13px;
}

.container
{ 
	float:left;
	width:90%; 
	margin: var(--baseFontSize);
	align-content: center;
	text-align: center;
	vertical-align: text-top;
}
#image 
{
	float: left;
	width: 49%;
	/*border: solid red;*/
	
	display: flex;
	flex-flow: column;
}
#image img 
{ 
	max-width: 100%; 
	margin: calc(var(--baseFontSize)*0.5) 0;
	
	border-style: outset;
	border-top-color: var(--lightBackground);
	border-left-color: #34314c;
	border-right-color: (--lightBackground);
	border-bottom-color: #34314c;
}
#content 
{ 
	float: right; 
	width: 49%; 	
	/*border: solid green;*/
	
	display: flex;
	flex-flow: column;
}

@media only screen and (max-width: 480px) 
{
	#image,#content 
	{ 
		width:100%;
		margin-left: auto;
		margin-right: auto;
		align-content: center;
	} 
}

.topnav 
{
	background-color: var(--navbarBackground);
	overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a 
{
	color: var(--textColor);
	font-family: var(--fontFamSS);
	padding: var(--baseFontSize);
	font-size: var(--baseFontSize);
	
	float: left;
	text-align: center;
	text-decoration: none;
}
/* Change the color of links on hover */
.topnav a:hover 
{
	background-color: var(--navbarHoverColor);
	color: var(--background);
}
/* Add a color to the active/current link */
.topnav a.active 
{ 
	background-color: var(--navbarForeground); 
	color: var(--background);
	font-weight: bold;
}

ul
{
	margin: var(--baseFontSize) auto;
	color: var(--textColor);
	font-family: var(--fontFamSS);
	font-size: var(--baseFontSize);
	text-shadow: 0 0 var(--fontShadowSize) black;
	padding: var(--baseFontSize);
	
	list-style-type: none;
	list-style-position: inside;
	text-align: center;
	
	display: table;
	align-content: center;
}
li { padding: calc(var(--baseFontSize) * 0.25); }